.container {
  width: 100%;
  padding: 1rem;
}

.grid {
  display: flex;
}

.card {
  width: 18.75rem;
  height: auto;
  margin: 0.625rem;
  background-color: white;
  border-radius: 0.25rem;
  /* display: flex;
  align-items: center;
  flex-direction: column; */

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
  display: flex;
  justify-content: space-around;
  font-size: large;
  padding: 0.625rem;
  height: 60px;
}

.card-subtitle {
  display: flex;
  color: var(--text-color);
  justify-content: flex-start;
  padding: 0.625rem;
}

.card-content {
  display: flex;
  height: 3.125rem;
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  height: 1.875rem;
  width: 6.25rem;
  margin: 0.625rem;
  border-style: none;
  border-radius: 5px;
  font-size: 14px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.edit-button {
  background: darkgoldenrod;
}

.delete-button {
  background: firebrick;
}

.hr-divider {
  width: 80%;
  color: var(--line-color);
}

.card-footer {
  color: var(--text-color);
  padding: 5px;
}
