:root {
  --primary-color: #0a2463;
  --secondary-color: #fb3640;
  --background-color: #e2e2e2;
  --text-color: #5c6369;
  --line-color: #5c6369;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Segoe UI", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
